# IntelliJ IDEA
.idea/

# Ignoriere alle Inhalte im Ordner `data`, außer `.keep`, um die Ordnerstruktur zu erhalten
scraper/data/output/*
scraper/data/images/*
!scraper/data/output/.keep
!scraper/data/images/.keep

# logs
logs/*
!logs/.keep

# Environment secrets
.env

# Maven build output
backend/target/

# Node modules and frontend build
frontend/node_modules/
frontend/dist/